body {
    background-color: lightgrey;
}

h1,
h2,
h3 {
    display: block;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkslategrey;
    text-decoration: underline;
    text-align: center;
}

p {
    display: block;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    text-align: center;
}

ul,
ol {
    display: inline-block;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


li {
    margin-bottom: 20px;
}

img {
    display: block;
    margin: 0 auto;
}

a {
    text-align: center;
}